
@model DBApp.Models.DataBag

@{
    ViewBag.Title = "Results";
}


<div class="row">
    <h2>Results</h2>
    <div class="col-md-4">
        <div class="row spaced" >
            <div class="col-md-8">
                <b>New Balance:</b>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top:0px">@Model.WhatIfResults.NewBalance </h3>
</div>
        </div>
        <div class="row spaced">
            <div class="col-md-8">
                <b>Deposit:</b>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top:0px">@Model.WhatIfResults.Deposit </h3>
            </div>
        </div>
        <div class="row spaced">
            <div class="col-md-8">
                <b>Original balance:</b>
            </div>
            <div class="col-md-4">
                <h3 style="margin-top:0px">@Model.WhatIfResults.Balance </h3>
</div>
        </div>
    </div>
    <div class="col-md-8">
        <p><img src="@Url.Action("WhatIfResults")" /> </p>
        <p style="text-align:center">Monthly Interest</p>
    </div>
</div>
<p>@Html.ActionLink("Back", "Index", "Home")</p>